body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #0f172a;
}

.section {
  padding: 4rem 1rem;
}
#education{
  margin-top:30px;
}
.section__title {
  text-align: center;
  font-size: 2rem;
}

.section__subtitle {
  display: block;
  text-align: center;
  color: #0f172a;
   margin-bottom: 2rem;
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.qualification__button {
  font-weight: 600;
  cursor: pointer;
  color:white;
}

.qualification__button.active {
  color: #0f172a;
}

.qualification__container {
  max-width: 700px;
  margin: auto;
}

.qualification__content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__data {
  text-align: right;
}

.qualification__title {
  font-size: 1rem;
  color:#0f172a;
  font-weight: 600;
}

.qualification__subtitle {
  display: block;
  font-size: 0.9rem;
  color:white;
}

.qualification__calendar {
  font-size: 0.8rem;
  color:rgb(248, 237, 237);
}

.qualification__line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualification__rounder {
  width: 12px;
  height: 12px;
  background-color: #0f172a;
  border-radius: 50%;
}

.qualification__liner {
  width: 2px;
  height: 100%;
  background-color: #0f172a;
}

/* Right side text */
.qualification__content:nth-child(even) .qualification__data {
  text-align: left;
}

@media screen and (max-width: 600px) {
  
}
@media screen and (max-width:350px) {

 
  .qualification__tabs{
    margin-left:60px;
  }
}
@media screen and (max-width:576px) {
 
 
}
.icons{
  color: #0f172a;
font-weight: bolder;

}