.header{
    width:100%;
    height:70px;
    position: fixed;
    top:0;
    left:0;
    z-index:var(--z-fixed);
    background:#0f172a;
}
.nav{
    margin-top:25px;
    margin-bottom: 12px;
    height:calc(var(--header-height)+1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
   }
.nav__logo, .nav__toggle{
    color:#f8fafc;
    font-weight: var(--font-medium);
    margin-bottom: 20px;
}
.nav__list{
    display: flex;
    column-gap:2rem;
}
.nav__link{
    display: flex;
    margin-bottom: 20px;
    flex-direction:column;
    align-items: center;
    font-size: var(--small-font-size);
    color:#f8fafc;
    font-weight: var(--font-medium);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.nav__icon ,
 .nav__close,
 .nav__toggle{
    display: none;
    }
 .active-link,
    .nav__link:hover{
color:#a5b4fc;
}
@media screen and  (max-width:768px){
.header{
    top:initial;
    bottom:0; 
}
.nav{
    height: var(--header-height);
}

.nav__menu{
     position: fixed;
     bottom:-100%;
     left:0;
     width: 100%;
     background: var(--body-color);
     padding:2rem 1.5rem 4rem;
     box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
     border-radius: 1.5rem 1.5rem 0 0  ;
     transition: .3s;
     -webkit-border-radius: 1.5rem 1.5rem 0 0  ;
     -moz-border-radius: 1.5rem 1.5rem 0 0  ;
     -ms-border-radius: 1.5rem 1.5rem 0 0  ;
     -o-border-radius: 1.5rem 1.5rem 0 0  ;
     -webkit-transition: .3s;
     -moz-transition: .3s;
     -ms-transition: .3s;
     -o-transition: .3s;
}
/*show menu*/
.show-menu{
    bottom:0;
}
.nav__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}
.nav__icon{
    font-size: 1.2rem;
}
.nav__close{
    position: absolute;
    right:1.3rem;
    bottom:.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.nav__toggle{
    font-size: 1.1rem;
    color:white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}
.nav__icon,
.nav__close,
.nav__toggle{
    display:block;
}
}
@media  screen and  (max-width:350px){
    .nav__menu{
        padding:2rem 0.25rem 4rem;

    }
      body{
        background-size: 100% 100%;
    }
}